@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Inter", "sans-serif";

  --color-background: #f9fafb;
  --color-foreground: #09090b;

  --color-primary: #7543ca;
  --color-primary-foreground: #fff;

  --color-accent: #5d3a99;
  --color-accent-foreground: #fff;

  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #0a0a0a;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1280px;
}

@layer theme {
  .dark {
    --color-background: #09090b;
    --color-foreground: #fff;

    --color-primary: #6a44ac;
    --color-primary-foreground: #fff;

    --color-accent: #7655af;
    --color-accent-foreground: #fff;

    --color-secondary: #27272a;
    --color-secondary-foreground: #f9fafb;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-display;
  }
}
